# Virtual environment
venv/

# Data files
data/usa_real_estate.csv
data/cleaned_usa_real_estate.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/