# Virtual environment
venv/

# Data files
data/zillow_forsale.csv
data/zillow_sales.csv
data/zillow_home_values.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/